<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
            <%= image_tag('headshot.jpg', alt: "Anna Bateman") %>
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Anastasiia Bateman</h1>
			<h2 class="quickFade delayThree">Software Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="anastasiia.bateman@gmail.com" target="_blank">anastasiia.bateman@gmail.com</a></li>
				<li>w: <a href="https://www.linkedin.com/in/anastasiia-bateman-340023201">Linkedin</a></li>
				<li>m: 2523053504</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Passionate and self-motivated software engineer student seeking entry-level position in the tech industry. Experienced with Agile and SCRUM methodologies. Eager to collaborate, explore new technologies, and uphold high quality code standards.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Software Engineer at Tangoe</h2>
					<p class="subDetails">September 2021 - Present</p>
					<p>Partnered with the development team on product
					development, application support plans, and prototype programs.</p>
				</article>
				
				<article>
					<h2>Ruby on Rails Intern at Code the Dreams</h2>
					<p class="subDetails">June 2021 - september 2021</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</article>
				
				<article>
					<h2>Business Director at Keon Taekwondo</h2>
					<p class="subDetails">Aprel 2019 - September 2020</p>
					<p>Supervised children and developed activities to improve engagement and academic performance.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Code the Dream School</h2>
					<p class="subDetails">React Front End Class</p>
				</article>
				
				<article>
					<h2>Code the Dream School</h2>
					<p class="subDetails">Ruby on Rails Back End Class</p>
				</article>

				<article>
					<h2>College of the Albemarle</h2>
					<p class="subDetails">Fundamentals of Computer Programming Certificate, 4.0 GPA</p>
				</article>

				<article>
					<h2>South Ural State University</h2>
					<p class="subDetails">Bachelor of Commerce</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>