<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="name">
			<h1 class="quickFade delayTwo">Anastasiia Bateman</h1>
			<h2 class="quickFade delayThree">Software Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="anastasiia.bateman@gmail.com" target="_blank">anastasiia.bateman@gmail.com</a></li>
				<li>w: <a href="https://www.linkedin.com/in/anastasiia-bateman-340023201">Linkedin</a></li>
				<li>m: 2523053504</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p> 2 Years experience developing Ruby on Rails applications. Familiar with Agile and SCRUM methodologies. Eager to collaborate, explore new technologies, and uphold high quality code standards.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Software Engineer at Tangoe</h2>
					<p class="subDetails">September 2021 - Present</p>
					<p>Developed and maintained inventory management SaaS in Ruby on Rails. Implemented app integrations with external vender data points. </p>
				</article>
				
				<article>
					<h2>Business Director at Keon Taekwondo</h2>
					<p class="subDetails">Aprel 2019 - September 2020</p>
					<p>Supervised children and developed activities to improve engagement and academic performance.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Ruby on Rails</li>
					<li>HTML + CSS</li>
					<li>JavaScript/React</li>
					<li>SQL</li>
					<li>Dank Memes</li>
					<li>Unix Shell</li>
					<li>Docker</li>
					<li>Bilingual (Russian)</li>
					<li>Git</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Ruby on Rails Practicum at Code the Dream</h2>
					<p class="subDetails">June 2021 - September 2021</p>
					<p class="subDetails">Participated in QA analysis, code reviews, and bug fixes for an online bookstore application.</p>
				</article>
				<br>
				<article>
					<h2>Code the Dream School</h2>
					<p class="subDetails">March 2021 - June 2021</p>
					<p class="subDetails">Ruby on Rails Back End Class</p>
				</article>
				<br>
				<article>
					<h2>College of the Albemarle</h2>
					<p class="subDetails">August 2020 - May 2021</p>
					<p class="subDetails">Fundamentals of Computer Programming Certificate, 4.0 GPA</p>
				</article>
				<br>
				<article>
					<h2>South Ural State University</h2>
					<p class="subDetails">September 2013 - July 2017</p>
					<p class="subDetails">Bachelor of Commerce 3.6 GPA</p>
				</article>
				<br>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
